html {
  background: #18344b;
  color: #fafafa;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
}

header {
  background: #fafafa;
  color: #18344b;
  display: flex;
  justify-content: space-between;
  padding: 32px;
}

main {
  padding: 64px;
  text-align: center;
}

button {
  font-size: inherit;
  padding: 8px;
}
